.post-container {
  background: red;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.post-title {
  width: 80%;
  float: right;
  background: blue;
}

.votes {
  width: 20%;
  float: left;
  background: purple;
}

.post-data {
  color: white;
  clear: both;
}

